<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.file.storage.vo.StorageVO" alias="storage"/>
		<typeAlias type="com.file.storage.vo.UserVO" alias="user"/>
		<typeAlias type="com.file.storage.vo.WishVO" alias="wish"/>
	</typeAliases>  
</configuration>